body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.wrapper {
  background-image: url("../Ass4/Ass4 images/bg-intro-desktop.png");
  box-sizing: border-box;
  max-width: 1440px;
  height: 90vh;
  background-color: hsl(0, 100%, 74%);
  padding: 110px;
}
.wrapper--content {
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--1 {
  color: white;
  flex-basis: 50%;
  padding-right: 60px;
}
.s1--header {
  font-size: 30px;
}
.section--2 {
  flex-basis: 50%;
  max-width: 650px;
}
.form-message {
  margin-bottom: 20px;
  text-align: center;
  max-width: 100%;
  background-color: hsl(248, 32%, 49%);
  height: 50px;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  box-shadow: 0px 6px hsla(248, 32%, 49%, 0.253);
}
.form {
  box-sizing: border-box;
  max-width: 550px;
  max-height: 500px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 3px;
  box-shadow: 0px 6px hsla(248, 32%, 49%, 0.253);
}
input {
  box-sizing: border-box;
  height: 45px;
  border: none;
  border-radius: 3px;
  border: 1px solid rgba(179, 179, 179, 0.432);
  margin: 10px 0px;
  width: 100%;
  padding: 0px 25px;
  font-weight: 700;
}
input:focus {
  border: 1.5px solid hsl(249, 10%, 26%);
  outline: none;
}
button {
  height: 45px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: hsl(154, 59%, 51%);
  border: none;
  outline: none;
  margin: 10px 0px;
  border-radius: 3px;
}
form p {
  font-size: 12px;
  color: hsl(246, 25%, 77%);
  text-align: center;
}
form p a {
  text-decoration: none;
  color: red;
}
.error {
  background-image: url("Ass4 images/icon-error.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 10px;
  background-origin: content-box;
}
.error-div input {
  border-color: hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.error-div::after {
  content: var(--afterError, "This field cannot be empty");
  text-align: right;
  font-size: var(--afterFont, 0.85em);
  color: hsl(0, 100%, 74%);
  display: block;
  margin: 5px 0;
}

@media screen and (max-width: 40rem) {
  .wrapper--content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  main {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    margin: 50px auto;
    height: auto;
    padding: 30px;
  }

  .s1--header {
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    height: 120px;
    line-height: 45px;
    font-size: 28px;
  }

  .section--1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
  }

  .s1-body {
    word-wrap: break-word;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    height: auto;
    font-size: 19px;
    padding-right: 10px;
  }

  .section--1 div {
    width: 340px;
    margin: auto;
    text-align: center;
  }
  .form-message {
    padding: 20px 70px;
    height: auto;
    line-height: 28px;
  }
}
